﻿@model IEnumerable<POS.ViewModel.Product>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Initial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <button type="button" class="btn btn-success btn-select" data-id="@item.Id" data-dismiss="modal" title="Select">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
}

</table>

<script>
    $(".btn-select").click(function () {
        $.ajax({
            url: '@Url.Action("SelectedProduct", "Order")',
            type: 'get',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                $("#order-table tbody").append(result);
            }
        })
    })
</script>
